{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Cartographie Interactive</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "analyse/navbar.css" %}" >
    <link rel="stylesheet" href="{% static "analyse/cartographie.css" %}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    {% include "components/navbar.html" %}
  <div class="container">
    <h1 class="title-main">Cartographie Interactive</h1>
    <p class="subtitle-main">Visualisez et analysez les zones à risque de dépôts sauvages</p>
    <!-- Filtres -->
    <div class="filters-card">
      <div class="filters-title">
        <svg viewBox="0 0 20 20" fill="currentColor"><path d="M3 5a1 1 0 0 1 1-1h12a1 1 0 0 1 .8 1.6l-4.2 6.4V17a1 1 0 0 1-1.45.9l-2-1A1 1 0 0 1 8 16v-4.99L3.2 6.6A1 1 0 0 1 3 5Z"/></svg>
        Filtres de Cartographie
      </div>
      <div class="filters-btns">
        <button class="filter-btn active" id ="allzone"><span class="dot" style="background:#232c3b;"></span> Toutes les zones</button>
        <button class="filter-btn risk-high"><span class=""></span><a href="/ajouter_zone_risque">Définir une Zone à surveiller</a></button>
        <button class="filter-btn risk-medium" id="rh"><span class="dot risk-high"></span> Zone à Risque</button>
        {% comment %}  <button class="filter-btn risk-low"><span class="dot risk-low"></span> Risque faible</button>  {% endcomment %}
      </div>
    </div>
    <!-- Main grid -->
    <div class="main-grid">
      <!-- Carte -->
      <div class="map-card">
        <div id="map" style="height: 500px;"></div>
        <div id="map2" style="height: 500px; display : none;"></div>
        <div class="ZonesRisques">
          <div class="zones-list-card">
            <div class="zones-list-title">Liste des Zones (6)</div>
            <div class="zones-list">
              
            </div>
          </div>
        </div>
      </div>
      <!-- Bloc de droite -->
      <div>
        <div class="details-card">
          <svg viewBox="0 0 32 32" fill="currentColor"><path d="M16 2a8 8 0 0 0-8 8c0 5.25 8 18 8 18s8-12.75 8-18a8 8 0 0 0-8-8Zm0 10.5a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5Z"/></svg>
          Cliquez sur un point de la carte pour voir les détails
        </div>
        <div class="zones-list-card">
          <div class="zones-list-title">Listes Des Zones à Risques à surveiller</div>
          <div class="zonesRisques-list">
            
          </div>
            <div class="zone-item">
              <button><a href="/signalement">Voir plus</button>
            </div>
        </div>
      </div>
    </div>
  </div>
    <script  src="{% static "js/cartographie.js" %}"></script>
    </body>
</html>