{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "analyse/signalement.css" %}">
    <link rel="stylesheet" href="{% static "analyse/navbar.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Inter:400,600&display=swap" rel="stylesheet">
</head>
<body>
{% include "components/navbar.html" %}
</head>
<body>
  <div class="page-container">
    <div>
      <div class="rules-section-title">Listes de signalements</div>
      <div class="rules-list">
        <!-- Règle 1 -->
        <div class="rule-card">
          <div class="rule-info">
            <div class="rule-title">Poubelle pleine signaler</div>
            <div class="rule-details">
              Etat: <span class="plein">pleine</span><br>
              Date: 12/06/2025 15:25:67<br>
              Lieu: 6 avenue, division leclerc, cachan, île de france
            </div>
          </div>
          <div class="rule-actions">
            <button class="act-btn">
              Agir
            </button>
            <div></div>
          </div>
        </div>
        <!-- Règle 2 -->
        <div class="rule-card">
          <div class="rule-info">
            <div class="rule-title">Poubelle pleine signaler</div>
            <div class="rule-details">
              Etat: <span class="plein">pleine</span><br>
              Date: 12/06/2025 15:25:67<br>
              Lieu: 6 avenue, division leclerc, cachan, île de france
            </div>
          </div>
          <div class="rule-actions">
            <button class="act-btn">
              Agir
            </button>
            <div></div>
          </div>
        </div>
        <!-- Règle 2 -->
        <div class="rule-card">
          <div class="rule-info">
            <div class="rule-title">Poubelle pleine signaler</div>
            <div class="rule-details">
              Etat: <span class="plein">pleine</span><br>
              Date: 12/06/2025 15:25:67<br>
              Lieu: 6 avenue, division leclerc, cachan, île de france
            </div>
          </div>
          <div class="rule-actions">
            <button class="act-btn">
              Agir
            </button>
            <div></div>
          </div>
        </div>
        <!-- Règle 2 -->
        
        <div class="rule-card">
          <div class="rule-info">
            <div class="rule-title">Poubelle pleine signaler</div>
            <div class="rule-details">
              Etat: <span class="plein">pleine</span><br>
              Date: 12/06/2025 15:25:67<br>
              Lieu: 6 avenue, division leclerc, cachan, île de france
            </div>
          </div>
          <div class="rule-actions">
            <button class="act-btn">
              Agir
            </button>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
